BOT_TOKEN=
CHAT_ID=
COOKIE=
MIN_AMOUNT=300
MAX_AMOUNT=50000
WS_COUNT=1
DEFAULT_METHOD=ALFA
PROVIDER_ONLY=nspk
METHOD_ALFA=69f4c700cc9dfb356a8d643f
METHOD_OZON=69f333a8801cdebb319ac42e
FAST_MODE=1
TEST_MODE=0
RECONNECT_MS=5000
REDIS_URL=redis://127.0.0.1:6379
WORKER_ID=v1admin
