BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
CHAT_ID=PASTE_YOUR_TELEGRAM_CHAT_ID_HERE

REDIS_URL=redis://:CHANGE_PASSWORD@127.0.0.1:6379
WORKER_ID=v1admin
ACCOUNT_NAME=Main

COOKIE=PASTE_WEB_COOKIE_HERE
USER_AGENT=Mozilla/5.0

PROVIDER=nspk
RECONNECT_MS=5000
DEFAULT_METHOD=AUTO
